@tailwind base;

@tailwind components;

@tailwind utilities;

.cls-1,.cls-2{fill:#30b34e;}.cls-2{opacity:0.4;isolation:isolate;}
.modal {
    transition: opacity 0.25s ease;
  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }